In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

# Загрузка данных
data = pd.read_csv("../data/cleaned_data.csv")
data

,total_meters,price,floor,floors_count,rooms_count,location,district,underground
0,32.00,13590000,10,18,1,1,1,1
1,35.50,12000000,3,17,1,1,2,2
2,37.50,7800000,3,19,1,1,2,2
3,54.80,40948000,8,13,1,1,3,3
4,26.60,7500000,2,9,1,1,4,4
...,...,...,...,...,...,...,...,...
3803,69.40,35000000,5,14,3,1,22,139
3804,76.30,35000000,12,16,3,1,21,22
3805,58.38,35950000,7,16,3,1,22,97
3806,79.80,36100000,10,22,3,1,40,198
3807,70.00,36500000,5,30,3,1,29,34

In [8]:
X = data[['total_meters', "floor", "floors_count", "rooms_count", "location", "district", "underground"]]
y = data['price']
        
# Разделение на тренировочную и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)


# Обучение модели
model = GradientBoostingRegressor()
model.fit(X_train, y_train)

# Предсказание на тестовой выборке
y_pred = model.predict(X_test)

# Оценка модели
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
mean_abs_error = np.mean(np.abs(y_test - y_pred))

In [9]:
print(f"Метрики модели:\n"
                   f"MSE: {mse:.2f}\n"
                   f"RMSE: {rmse:.2f}\n"
                   f"R²: {r2:.6f}\n"
                   f"Средняя абсолютная ошибка: {mean_abs_error:.2f} рублей\n")

Метрики модели:
MSE: 44208470138048.82
RMSE: 6648945.04
R²: 0.734386
Средняя абсолютная ошибка: 4436885.24 рублей

In [41]:
import joblib
# Сохранение модели
model_path = 'C:\\Users\\user\\Институт\\PABD25\\Проект_2\\models\\model_house_prise.pkl'

joblib.dump(model, model_path)
print("Модель сохранена в файл f{model_path}")

# Загрузка модели
loaded_model = joblib.load(model_path)
print("Модель загружена из файла")

Модель сохранена в файл f{model_path}
Модель загружена из файла

In [42]:
loaded_model.predict([[30, 5, 10, 2]])

c:\Users\user\Институт\PABD25\Проект_2\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7627231.71135816])

In [43]:
input_df = pd.DataFrame([[41, 15, 6, 2]], columns=['total_meters', 'floors_count', 'floor', 'rooms_count'])
prediction = loaded_model.predict([[41, 15, 6, 2]])[0]

c:\Users\user\Институт\PABD25\Проект_2\.venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [44]:
prediction

np.float64(13091562.075116254)